@tailwind base;
@tailwind components;
@tailwind utilities;

/*This is the root colors*/
:root {
  --foreground-rgb: 44, 44, 44; /* this is the text color*/
  --background-start-rgb: 255, 255, 255; /* these give the linear gradient of the background*/
  --background-end-rgb: 255, 255, 255;
}

/*This is the color change for when it goes dark mode*/
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
